$color-background: #800000 !default;
$color-main: #FFED85 !default;
$color-gray01: #dcdcdc !default;
$color-gray02: #999 !default;
$color-gray03: #fff !default;
$color-gray04: #660000 !default;//深紅溝縫
$color-gray05: #B30000 !default;//淺紅溝縫
$color-yellow01: #FFF8D1 !default;
$color-deepgray01: #666 !default;//搜尋文字
$color-green01: #CCFF33 !default;//文章標題
$color-lightblue: #0000CC !default;

/*
$color-background: #eee !default;//背景底色
$color-main: #258fb8 !default;//url連結
$color-gray01: #666 !default;//文章標題 列表連結 搜尋輸入文字
$color-gray02: #999 !default;//文章分類
$color-gray03: #ccc !default;//文章分類圖示 搜尋圖案
$color-gray04: #ddd !default;//分隔線條上方陰影
$color-gray05: #fff !default;//分隔線條
*/