@mixin square($property){
	width: $property;
	height: $property;
}
@mixin user-select($select){
	-moz-user-select: $select;
	-khtml-user-select: $select;
	-webkit-user-select: $select;
	-o-user-select: $select;
	user-select: $select;
}
@mixin border-shadow($top: $color-gray05, $bottom: $color-gray06){
	border-top: 1px solid $top;
	border-bottom: 1px solid $bottom;
}
@mixin center($width, $height){
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: $width/(-2);
	margin-top: $height/(-2);
	width: $width;
	height: $height;
}

@mixin post-width{
	max-width:1050px;
	@media screen and (max-width: 1430px){
		width: 75%;
	}
	@media screen and (max-width: 1150px){
		width: 70%;
	}
	@media screen and (max-width: 967px){
		width: 65%;
	}
	@media screen and (max-width: 800px){
		width: 100%;
		padding-bottom: 15px;
	}
	@media screen and (max-width: 600px){
		padding: 15px 0;
	}
}